@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br />
    <h1>LOG IN</h1>
    <br />
    <form>
      <div class="mb-3">
        <label for="usernanme" class="form-label">Username</label>
        <input type="text" class="form-control" id="username">
      </div>
        <br />
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password">
      </div>
        <br />
      <button type="button" class="btn btn-primary" onclick="LoginUser()">Submit</button>
    </form>
    <br />
</div>

<script>
    function LoginUser() {
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;
        fetch("http://localhost:8080/api/Users/BearerToken/", { // use port = 44384 with local db VS 8080 with Docker db
            // Adding method type
            method: "POST",
            // Adding body or contents to send
            body: JSON.stringify({
                userName: username,
                password: password,
            }),
            // Adding headers to the request
            headers: {
                "Content-type": "application/json; charset=UTF-8",
                "Access-Control-Allow-Origin": "https://localhost:32768" //port:32768 (Docker) or port : 44365 (local)
            }
        })
        .then(response => {
            if (response.ok) {
                alert('Your have successfully logged in !');
                return response.json();
            }
            else {
                alert('Your credentials are invalid !');
            }
        })
            .then(json => {
                localStorage.setItem("token", json.token) 
                localStorage.setItem("UserId", json.userId)
                localStorage.setItem("loggedIn", true)
                window.isLoggedIn = true
                window.location.href = 'https://localhost:32768/';
            });
    }
    
</script>
