@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br />
    <h1>REGISTER</h1>
    <br />
    <form>
        <div class="mb-3">
          <label for="usernanme" class="form-label">Username</label>
          <input type="text" class="form-control" id="username">
        </div>
          <br />
          <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="text" class="form-control" id="email">
          </div>
          <br />
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password">
        </div>
        <div class="mb-3">
            <label for="confirmpassword" class="form-label">Confirm Password</label>
              <input type="password" class="form-control" id="confirmpassword">
        </div>
        <br />
        <button type="button" class="btn btn-primary" onclick="RegisterUser()">Submit</button>
    </form>
</div>

<br />

<script>
    function RegisterUser() {
        var username = document.getElementById("username").value;
        var email = document.getElementById("email").value;
        var password = document.getElementById("password").value;
        var confirmpassword = document.getElementById("confirmpassword").value;

        if(password == confirmpassword){
            fetch("http://localhost:8080/api/Users/", { // use port = 44384 with local db VS 8080 with Docker db
                // Adding method type
                method: "POST",
                // Adding body or contents to send
                body: JSON.stringify({
                    userName: username,
                    email: email,
                    password: password,
                }),
                // Adding headers to the request
                headers: {
                    "Content-type": "application/json; charset=UTF-8",
                    "Access-Control-Allow-Origin": "https://localhost:32768" // port:32768 (Docker) or port : 44365 (local)
                }
            })
            .then(response => response.json())
            .then(data => {
                if(data.userName != null){
                    alert('Your have successfully Registered !');
                        window.location.href = 'https://localhost:32768/User/Login';
                }
                else {
                    console.log(data);
                    data.forEach((item, index) => {
                            alert(data[index].description);
                    });
                }
            });
        }
        else {
             alert('Passwords do not match !');
        }
    }

</script>
